= form_with(model: post, local: true) do |form|
  %div
    = form.label :name
    = form.text_field :name, autofocus: true

  %div
    = form.label :expr, "RegEx"
    = form.text_field :expr

  %div
    = form.label :eg, "Example string"
    = form.text_field :eg

  - if post.errors.any?
    #error_explanation
      %h2
        = pluralize(post.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - post.errors.full_messages.each do |message|
          %li= message
  .actions
    = form.submit "Submit"
