#post
  - @posts.each do |post|
    %div
      .head
        %h3= post.name
        %h5= post.flav

      .body
        %pre.expr
          %code= post.expr

        %pre
          - expr = Regexp.new(post.expr)
          %code= expr.match(post.eg)

        - if expr.match(post.eg).captures.any?
          %pre.cap
            %code
              - expr.match(post.eg).captures.each_with_index do |cap, i|
                %span= "[#{i}]: #{cap}"

        - if current_user && post.user = current_user.id
          .ctrl
            %h5
              = link_to "Edit", edit_post_path(post)

            %h5
              = link_to "Delete", post, method: :delete
