#cont
  - @posts.each do |post|
    %div
      %div.head
        %h3= post.name
        %h5= post.flav

      %div.body
        %pre.expr
          %code= post.expr

        %pre
          - expr = Regexp.new(post.expr)
          %code= expr.match(post.eg)

        - if expr.match(post.eg)
          %pre#cap
            - expr.match(post.eg).captures.each_with_index do |cap, i|
              %code= "[#{i}]: #{cap}"
